In [129]:
## Code courtsey: Manav Sehgal (https://www.kaggle.com/startupsci)
## Link to Original Code: https://www.kaggle.com/startupsci/titanic-data-science-solutions

# data analysis and wrangling

#Data cleaning script taken from :https://gist.github.com/jay-trivedi/4ab63ebf09313094e8e97376d6f254ad

import pandas as pd
import numpy as np
import random as rnd

def titanic(train, test):
    train_df = pd.read_csv(train)
    test_df = pd.read_csv(test)
    combine = [train_df, test_df]

    train_df = train_df.drop(['Ticket', 'Cabin'], axis=1)
    test_df = test_df.drop(['Ticket', 'Cabin'], axis=1)
    combine = [train_df, test_df]

    for dataset in combine:
        dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

    pd.crosstab(train_df['Title'], train_df['Sex'])

    for dataset in combine:
        dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
        'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

        dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
        dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
        dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

    train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    for dataset in combine:
        dataset['Title'] = dataset['Title'].map(title_mapping)
        dataset['Title'] = dataset['Title'].fillna(0)

    train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
    test_df = test_df.drop(['Name'], axis=1)
    combine = [train_df, test_df]

    for dataset in combine:
        dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

    guess_ages = np.zeros((2,3))
    guess_ages

    for dataset in combine:
        for i in range(0, 2):
            for j in range(0, 3):
                guess_df = dataset[(dataset['Sex'] == i) & \
                                      (dataset['Pclass'] == j+1)]['Age'].dropna()

                # age_mean = guess_df.mean()
                # age_std = guess_df.std()
                # age_guess = rnd.uniform(age_mean - age_std, age_mean + age_std)

                age_guess = guess_df.median()

                # Convert random age float to nearest .5 age
                guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5

        for i in range(0, 2):
            for j in range(0, 3):
                dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                        'Age'] = guess_ages[i,j]

        dataset['Age'] = dataset['Age'].astype(int)

    for dataset in combine:
        dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1



    for dataset in combine:
        dataset['IsAlone'] = 0
        dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

    combine = [train_df, test_df]

    freq_port = train_df.Embarked.dropna().mode()[0]

    for dataset in combine:
        dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)

    test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)

    test_df.head(10)
    return train_df,test_df

In [130]:
train_df,test_df = titanic('./train.csv','./titanic_test.csv')

In [131]:
train_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,0,3,0,22,1,0,7.2500,S,1,2,0
1,1,1,1,38,1,0,71.2833,C,3,2,0
2,1,3,1,26,0,0,7.9250,S,2,1,1
3,1,1,1,35,1,0,53.1000,S,3,2,0
4,0,3,0,35,0,0,8.0500,S,1,1,1
5,0,3,0,25,0,0,8.4583,Q,1,1,1
6,0,1,0,54,0,0,51.8625,S,1,1,1
7,0,3,0,2,3,1,21.0750,S,4,5,0
8,1,3,1,27,0,2,11.1333,S,3,3,0
9,1,2,1,14,1,0,30.0708,C,3,2,0
10,1,3,1,4,1,1,16.7000,S,2,3,0
11,1,1,1,58,0,0,26.5500,S,2,1,1
12,0,3,0,20,0,0,8.0500,S,1,1,1
13,0,3,0,39,1,5,31.2750,S,1,7,0
14,0,3,1,14,0,0,7.8542,S,2,1,1
15,1,2,1,55,0,0,16.0000,S,3,1,1
16,0,3,0,2,4,1,29.1250,Q,4,6,0
17,1,2,0,30,0,0,13.0000,S,1,1,1
18,0,3,1,31,1,0,18.0000,S,3,2,0
19,1,3,1,21,0,0,7.2250,C,3,1,1
20,0,2,0,35,0,0,26.0000,S,1,1,1
21,1,2,0,34,0,0,13.0000,S,1,1,1
22,1,3,1,15,0,0,8.0292,Q,2,1,1
23,1,1,0,28,0,0,35.5000,S,1,1,1
24,0,3,1,8,3,1,21.0750,S,2,5,0
25,1,3,1,38,1,5,31.3875,S,3,7,0
26,0,3,0,25,0,0,7.2250,C,1,1,1
27,0,1,0,19,3,2,263.0000,S,1,6,0
28,1,3,1,21,0,0,7.8792,Q,2,1,1
29,0,3,0,25,0,0,7.8958,S,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,0,21,1,0,11.5000,S,1,2,0
862,1,1,1,48,0,0,25.9292,S,3,1,1
863,0,3,1,21,8,2,69.5500,S,2,11,0
864,0,2,0,24,0,0,13.0000,S,1,1,1
865,1,2,1,42,0,0,13.0000,S,3,1,1
866,1,2,1,27,1,0,13.8583,C,2,2,0
867,0,1,0,31,0,0,50.4958,S,1,1,1
868,0,3,0,25,0,0,9.5000,S,1,1,1
869,1,3,0,4,1,1,11.1333,S,4,3,0
870,0,3,0,26,0,0,7.8958,S,1,1,1
871,1,1,1,47,1,1,52.5542,S,3,3,0
872,0,1,0,33,0,0,5.0000,S,1,1,1
873,0,3,0,47,0,0,9.0000,S,1,1,1
874,1,2,1,28,1,0,24.0000,C,3,2,0
875,1,3,1,15,0,0,7.2250,C,2,1,1
876,0,3,0,20,0,0,9.8458,S,1,1,1
877,0,3,0,19,0,0,7.8958,S,1,1,1
878,0,3,0,25,0,0,7.8958,S,1,1,1
879,1,1,1,56,0,1,83.1583,C,3,2,0
880,1,2,1,25,0,1,26.0000,S,3,2,0
881,0,3,0,33,0,0,7.8958,S,1,1,1
882,0,3,1,22,0,0,10.5167,S,2,1,1
883,0,2,0,28,0,0,10.5000,S,1,1,1
884,0,3,0,25,0,0,7.0500,S,1,1,1
885,0,3,1,39,0,5,29.1250,Q,3,6,0
886,0,2,0,27,0,0,13.0000,S,5,1,1
887,1,1,1,19,0,0,30.0000,S,2,1,1
888,0,3,1,21,1,2,23.4500,S,2,4,0
889,1,1,0,26,0,0,30.0000,C,1,1,1
890,0,3,0,32,0,0,7.7500,Q,1,1,1

In [132]:
test_df

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,892,3,0,34,0,0,7.8292,Q,1,1,1
1,893,3,1,47,1,0,7.0000,S,3,2,0
2,894,2,0,62,0,0,9.6875,Q,1,1,1
3,895,3,0,27,0,0,8.6625,S,1,1,1
4,896,3,1,22,1,1,12.2875,S,3,3,0
5,897,3,0,14,0,0,9.2250,S,1,1,1
6,898,3,1,30,0,0,7.6292,Q,2,1,1
7,899,2,0,26,1,1,29.0000,S,1,3,0
8,900,3,1,18,0,0,7.2292,C,3,1,1
9,901,3,0,21,2,0,24.1500,S,1,3,0
10,902,3,0,24,0,0,7.8958,S,1,1,1
11,903,1,0,46,0,0,26.0000,S,1,1,1
12,904,1,1,23,1,0,82.2667,S,3,2,0
13,905,2,0,63,1,0,26.0000,S,1,2,0
14,906,1,1,47,1,0,61.1750,S,3,2,0
15,907,2,1,24,1,0,27.7208,C,3,2,0
16,908,2,0,35,0,0,12.3500,Q,1,1,1
17,909,3,0,21,0,0,7.2250,C,1,1,1
18,910,3,1,27,1,0,7.9250,S,2,2,0
19,911,3,1,45,0,0,7.2250,C,3,1,1
20,912,1,0,55,1,0,59.4000,C,1,2,0
21,913,3,0,9,0,1,3.1708,S,4,2,0
22,914,1,1,41,0,0,31.6833,S,3,1,1
23,915,1,0,21,0,1,61.3792,C,1,2,0
24,916,1,1,48,1,3,262.3750,C,3,5,0
25,917,3,0,50,1,0,14.5000,S,1,2,0
26,918,1,1,22,0,1,61.9792,C,2,2,0
27,919,3,0,22,0,0,7.2250,C,1,1,1
28,920,1,0,41,0,0,30.5000,S,1,1,1
29,921,3,0,24,2,0,21.6792,C,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,0,21,0,0,7.7500,Q,1,1,1
389,1281,3,0,6,3,1,21.0750,S,4,5,0
390,1282,1,0,23,0,0,93.5000,S,1,1,1
391,1283,1,1,51,0,1,39.4000,S,3,2,0
392,1284,3,0,13,0,2,20.2500,S,4,3,0
393,1285,2,0,47,0,0,10.5000,S,1,1,1
394,1286,3,0,29,3,1,22.0250,S,1,5,0
395,1287,1,1,18,1,0,60.0000,S,3,2,0
396,1288,3,0,24,0,0,7.2500,Q,1,1,1
397,1289,1,1,48,1,1,79.2000,C,3,3,0
398,1290,3,0,22,0,0,7.7750,S,1,1,1
399,1291,3,0,31,0,0,7.7333,Q,1,1,1
400,1292,1,1,30,0,0,164.8667,S,2,1,1
401,1293,2,0,38,1,0,21.0000,S,1,2,0
402,1294,1,1,22,0,1,59.4000,C,2,2,0
403,1295,1,0,17,0,0,47.1000,S,1,1,1
404,1296,1,0,43,1,0,27.7208,C,1,2,0
405,1297,2,0,20,0,0,13.8625,C,1,1,1
406,1298,2,0,23,1,0,10.5000,S,1,2,0
407,1299,1,0,50,1,1,211.5000,C,1,3,0
408,1300,3,1,22,0,0,7.7208,Q,2,1,1
409,1301,3,1,3,1,1,13.7750,S,2,3,0
410,1302,3,1,22,0,0,7.7500,Q,2,1,1
411,1303,1,1,37,1,0,90.0000,Q,3,2,0
412,1304,3,1,28,0,0,7.7750,S,2,1,1
413,1305,3,0,24,0,0,8.0500,S,1,1,1
414,1306,1,1,39,0,0,108.9000,C,5,1,1
415,1307,3,0,38,0,0,7.2500,S,1,1,1
416,1308,3,0,24,0,0,8.0500,S,1,1,1
417,1309,3,0,24,1,1,22.3583,C,4,3,0

In [133]:
print len(train_df),len(test_df)
train_df[train_df.columns.tolist()[1:]]

891 418

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,3,0,22,1,0,7.2500,S,1,2,0
1,1,1,38,1,0,71.2833,C,3,2,0
2,3,1,26,0,0,7.9250,S,2,1,1
3,1,1,35,1,0,53.1000,S,3,2,0
4,3,0,35,0,0,8.0500,S,1,1,1
5,3,0,25,0,0,8.4583,Q,1,1,1
6,1,0,54,0,0,51.8625,S,1,1,1
7,3,0,2,3,1,21.0750,S,4,5,0
8,3,1,27,0,2,11.1333,S,3,3,0
9,2,1,14,1,0,30.0708,C,3,2,0
10,3,1,4,1,1,16.7000,S,2,3,0
11,1,1,58,0,0,26.5500,S,2,1,1
12,3,0,20,0,0,8.0500,S,1,1,1
13,3,0,39,1,5,31.2750,S,1,7,0
14,3,1,14,0,0,7.8542,S,2,1,1
15,2,1,55,0,0,16.0000,S,3,1,1
16,3,0,2,4,1,29.1250,Q,4,6,0
17,2,0,30,0,0,13.0000,S,1,1,1
18,3,1,31,1,0,18.0000,S,3,2,0
19,3,1,21,0,0,7.2250,C,3,1,1
20,2,0,35,0,0,26.0000,S,1,1,1
21,2,0,34,0,0,13.0000,S,1,1,1
22,3,1,15,0,0,8.0292,Q,2,1,1
23,1,0,28,0,0,35.5000,S,1,1,1
24,3,1,8,3,1,21.0750,S,2,5,0
25,3,1,38,1,5,31.3875,S,3,7,0
26,3,0,25,0,0,7.2250,C,1,1,1
27,1,0,19,3,2,263.0000,S,1,6,0
28,3,1,21,0,0,7.8792,Q,2,1,1
29,3,0,25,0,0,7.8958,S,1,1,1
...,...,...,...,...,...,...,...,...,...,...
861,2,0,21,1,0,11.5000,S,1,2,0
862,1,1,48,0,0,25.9292,S,3,1,1
863,3,1,21,8,2,69.5500,S,2,11,0
864,2,0,24,0,0,13.0000,S,1,1,1
865,2,1,42,0,0,13.0000,S,3,1,1
866,2,1,27,1,0,13.8583,C,2,2,0
867,1,0,31,0,0,50.4958,S,1,1,1
868,3,0,25,0,0,9.5000,S,1,1,1
869,3,0,4,1,1,11.1333,S,4,3,0
870,3,0,26,0,0,7.8958,S,1,1,1
871,1,1,47,1,1,52.5542,S,3,3,0
872,1,0,33,0,0,5.0000,S,1,1,1
873,3,0,47,0,0,9.0000,S,1,1,1
874,2,1,28,1,0,24.0000,C,3,2,0
875,3,1,15,0,0,7.2250,C,2,1,1
876,3,0,20,0,0,9.8458,S,1,1,1
877,3,0,19,0,0,7.8958,S,1,1,1
878,3,0,25,0,0,7.8958,S,1,1,1
879,1,1,56,0,1,83.1583,C,3,2,0
880,2,1,25,0,1,26.0000,S,3,2,0
881,3,0,33,0,0,7.8958,S,1,1,1
882,3,1,22,0,0,10.5167,S,2,1,1
883,2,0,28,0,0,10.5000,S,1,1,1
884,3,0,25,0,0,7.0500,S,1,1,1
885,3,1,39,0,5,29.1250,Q,3,6,0
886,2,0,27,0,0,13.0000,S,5,1,1
887,1,1,19,0,0,30.0000,S,2,1,1
888,3,1,21,1,2,23.4500,S,2,4,0
889,1,0,26,0,0,30.0000,C,1,1,1
890,3,0,32,0,0,7.7500,Q,1,1,1

In [134]:
train_df = pd.get_dummies(train_df)
train_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Title,FamilySize,IsAlone,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22,1,0,7.2500,1,2,0,0,0,1
1,1,1,1,38,1,0,71.2833,3,2,0,1,0,0
2,1,3,1,26,0,0,7.9250,2,1,1,0,0,1
3,1,1,1,35,1,0,53.1000,3,2,0,0,0,1
4,0,3,0,35,0,0,8.0500,1,1,1,0,0,1
5,0,3,0,25,0,0,8.4583,1,1,1,0,1,0
6,0,1,0,54,0,0,51.8625,1,1,1,0,0,1
7,0,3,0,2,3,1,21.0750,4,5,0,0,0,1
8,1,3,1,27,0,2,11.1333,3,3,0,0,0,1
9,1,2,1,14,1,0,30.0708,3,2,0,1,0,0
10,1,3,1,4,1,1,16.7000,2,3,0,0,0,1
11,1,1,1,58,0,0,26.5500,2,1,1,0,0,1
12,0,3,0,20,0,0,8.0500,1,1,1,0,0,1
13,0,3,0,39,1,5,31.2750,1,7,0,0,0,1
14,0,3,1,14,0,0,7.8542,2,1,1,0,0,1
15,1,2,1,55,0,0,16.0000,3,1,1,0,0,1
16,0,3,0,2,4,1,29.1250,4,6,0,0,1,0
17,1,2,0,30,0,0,13.0000,1,1,1,0,0,1
18,0,3,1,31,1,0,18.0000,3,2,0,0,0,1
19,1,3,1,21,0,0,7.2250,3,1,1,1,0,0
20,0,2,0,35,0,0,26.0000,1,1,1,0,0,1
21,1,2,0,34,0,0,13.0000,1,1,1,0,0,1
22,1,3,1,15,0,0,8.0292,2,1,1,0,1,0
23,1,1,0,28,0,0,35.5000,1,1,1,0,0,1
24,0,3,1,8,3,1,21.0750,2,5,0,0,0,1
25,1,3,1,38,1,5,31.3875,3,7,0,0,0,1
26,0,3,0,25,0,0,7.2250,1,1,1,1,0,0
27,0,1,0,19,3,2,263.0000,1,6,0,0,0,1
28,1,3,1,21,0,0,7.8792,2,1,1,0,1,0
29,0,3,0,25,0,0,7.8958,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,0,21,1,0,11.5000,1,2,0,0,0,1
862,1,1,1,48,0,0,25.9292,3,1,1,0,0,1
863,0,3,1,21,8,2,69.5500,2,11,0,0,0,1
864,0,2,0,24,0,0,13.0000,1,1,1,0,0,1
865,1,2,1,42,0,0,13.0000,3,1,1,0,0,1
866,1,2,1,27,1,0,13.8583,2,2,0,1,0,0
867,0,1,0,31,0,0,50.4958,1,1,1,0,0,1
868,0,3,0,25,0,0,9.5000,1,1,1,0,0,1
869,1,3,0,4,1,1,11.1333,4,3,0,0,0,1
870,0,3,0,26,0,0,7.8958,1,1,1,0,0,1
871,1,1,1,47,1,1,52.5542,3,3,0,0,0,1
872,0,1,0,33,0,0,5.0000,1,1,1,0,0,1
873,0,3,0,47,0,0,9.0000,1,1,1,0,0,1
874,1,2,1,28,1,0,24.0000,3,2,0,1,0,0
875,1,3,1,15,0,0,7.2250,2,1,1,1,0,0
876,0,3,0,20,0,0,9.8458,1,1,1,0,0,1
877,0,3,0,19,0,0,7.8958,1,1,1,0,0,1
878,0,3,0,25,0,0,7.8958,1,1,1,0,0,1
879,1,1,1,56,0,1,83.1583,3,2,0,1,0,0
880,1,2,1,25,0,1,26.0000,3,2,0,0,0,1
881,0,3,0,33,0,0,7.8958,1,1,1,0,0,1
882,0,3,1,22,0,0,10.5167,2,1,1,0,0,1
883,0,2,0,28,0,0,10.5000,1,1,1,0,0,1
884,0,3,0,25,0,0,7.0500,1,1,1,0,0,1
885,0,3,1,39,0,5,29.1250,3,6,0,0,1,0
886,0,2,0,27,0,0,13.0000,5,1,1,0,0,1
887,1,1,1,19,0,0,30.0000,2,1,1,0,0,1
888,0,3,1,21,1,2,23.4500,2,4,0,0,0,1
889,1,1,0,26,0,0,30.0000,1,1,1,1,0,0
890,0,3,0,32,0,0,7.7500,1,1,1,0,1,0

In [135]:
test_df

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,FamilySize,IsAlone
0,892,3,0,34,0,0,7.8292,Q,1,1,1
1,893,3,1,47,1,0,7.0000,S,3,2,0
2,894,2,0,62,0,0,9.6875,Q,1,1,1
3,895,3,0,27,0,0,8.6625,S,1,1,1
4,896,3,1,22,1,1,12.2875,S,3,3,0
5,897,3,0,14,0,0,9.2250,S,1,1,1
6,898,3,1,30,0,0,7.6292,Q,2,1,1
7,899,2,0,26,1,1,29.0000,S,1,3,0
8,900,3,1,18,0,0,7.2292,C,3,1,1
9,901,3,0,21,2,0,24.1500,S,1,3,0
10,902,3,0,24,0,0,7.8958,S,1,1,1
11,903,1,0,46,0,0,26.0000,S,1,1,1
12,904,1,1,23,1,0,82.2667,S,3,2,0
13,905,2,0,63,1,0,26.0000,S,1,2,0
14,906,1,1,47,1,0,61.1750,S,3,2,0
15,907,2,1,24,1,0,27.7208,C,3,2,0
16,908,2,0,35,0,0,12.3500,Q,1,1,1
17,909,3,0,21,0,0,7.2250,C,1,1,1
18,910,3,1,27,1,0,7.9250,S,2,2,0
19,911,3,1,45,0,0,7.2250,C,3,1,1
20,912,1,0,55,1,0,59.4000,C,1,2,0
21,913,3,0,9,0,1,3.1708,S,4,2,0
22,914,1,1,41,0,0,31.6833,S,3,1,1
23,915,1,0,21,0,1,61.3792,C,1,2,0
24,916,1,1,48,1,3,262.3750,C,3,5,0
25,917,3,0,50,1,0,14.5000,S,1,2,0
26,918,1,1,22,0,1,61.9792,C,2,2,0
27,919,3,0,22,0,0,7.2250,C,1,1,1
28,920,1,0,41,0,0,30.5000,S,1,1,1
29,921,3,0,24,2,0,21.6792,C,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,0,21,0,0,7.7500,Q,1,1,1
389,1281,3,0,6,3,1,21.0750,S,4,5,0
390,1282,1,0,23,0,0,93.5000,S,1,1,1
391,1283,1,1,51,0,1,39.4000,S,3,2,0
392,1284,3,0,13,0,2,20.2500,S,4,3,0
393,1285,2,0,47,0,0,10.5000,S,1,1,1
394,1286,3,0,29,3,1,22.0250,S,1,5,0
395,1287,1,1,18,1,0,60.0000,S,3,2,0
396,1288,3,0,24,0,0,7.2500,Q,1,1,1
397,1289,1,1,48,1,1,79.2000,C,3,3,0
398,1290,3,0,22,0,0,7.7750,S,1,1,1
399,1291,3,0,31,0,0,7.7333,Q,1,1,1
400,1292,1,1,30,0,0,164.8667,S,2,1,1
401,1293,2,0,38,1,0,21.0000,S,1,2,0
402,1294,1,1,22,0,1,59.4000,C,2,2,0
403,1295,1,0,17,0,0,47.1000,S,1,1,1
404,1296,1,0,43,1,0,27.7208,C,1,2,0
405,1297,2,0,20,0,0,13.8625,C,1,1,1
406,1298,2,0,23,1,0,10.5000,S,1,2,0
407,1299,1,0,50,1,1,211.5000,C,1,3,0
408,1300,3,1,22,0,0,7.7208,Q,2,1,1
409,1301,3,1,3,1,1,13.7750,S,2,3,0
410,1302,3,1,22,0,0,7.7500,Q,2,1,1
411,1303,1,1,37,1,0,90.0000,Q,3,2,0
412,1304,3,1,28,0,0,7.7750,S,2,1,1
413,1305,3,0,24,0,0,8.0500,S,1,1,1
414,1306,1,1,39,0,0,108.9000,C,5,1,1
415,1307,3,0,38,0,0,7.2500,S,1,1,1
416,1308,3,0,24,0,0,8.0500,S,1,1,1
417,1309,3,0,24,1,1,22.3583,C,4,3,0

In [136]:
from sklearn.datasets import load_iris
from sklearn.metrics import classification_report
from sklearn import tree

tclf = tree.DecisionTreeClassifier(max_depth=2)
tclf.fit(train_df[train_df.columns.tolist()[1:]],train_df['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [137]:
test_df = pd.get_dummies(test_df)
print test_df.columns

Index([u'PassengerId', u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare',
       u'Title', u'FamilySize', u'IsAlone', u'Embarked_C', u'Embarked_Q',
       u'Embarked_S'],
      dtype='object')

In [138]:
print len(test_df.columns)
p_var = test_df['PassengerId']
del test_df['PassengerId']
print len(train_df.columns)
print len(test_df.columns)

13
13
12

In [139]:
s_var = tclf.predict(test_df)

In [140]:
f = open('./submit.csv','w+')
zipped = zip(p_var,s_var)
f.write('PassengerId,Survived\n')
for e in zipped:
    f.write('{},{}\n'.format(e[0],e[1]))
f.close()

In [142]:
df_op = pd.DataFrame(np.array([p_var,s_var]).T,columns=['PassengerId','Survived'])
df_op.to_csv('df_csv.csv',index=False)